<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Phone</label>
                <input type="email" class="form-control" #Phone aria-describedby="emailHelp" placeholder="Phone">
            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Name</label>
                <input type="email" id="Names" class="form-control" #Name aria-describedby="emailHelp" placeholder="Name">
            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Card Number</label>
                <input type="email" #Card class="form-control" aria-describedby="emailHelp" placeholder="Master Card">
            </div>
        </div>
        <div class="col-6">
            <button class="btn btn-info" (click)="BuyNow(Phone.value,Name.value,Card.value)">Buy Now</button>
        </div>
    </div>
</div>